html, body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

body {
    background-image: url("../img/index1.png");
    background-repeat: both;
    background-size: 30%;
    justify-content: left;
    align-items: left;
}
nav {
    display: flex;
    flex: 0 0;
    flex-direction: column;
    width: fit-content;
    height: 100vh;
}
a {
    font-size: medium;
    text-decoration: none;
}

hr {
    background-color: #002C38;
    width: 60%;
}

.icon {
    margin: 20px;
    height: 10%;
    flex: 0 0;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: 0;
    align-items: center;
    cursor: pointer;
}

.icon figcaption {
    font-size: medium;
  border: 1px;
  padding: 5px;
  border-color: transparent;
  color: #FFCF97;

}

.icon:active {
    transform: scale(0.98); 
    box-shadow: inset 3px 2px 22px 1px #002C38;
    border-radius: 15px;
}

.icon:active figcaption {
    border: 1px;
    border-style: dashed;
    border-color: #002C38;
}

.img-icon {
height: 60%;
}