html, body {
    height: 100vh;
    padding: 0;
    margin: 0;
}

body {
    background-image: url("../img/index0.jpg");
    background-repeat: none;
    background-size: 100 vh, 100 vw;
    justify-content: left;
    align-items: left;
}

nav {
    display: flex;
    flex: 0 0;
    flex-direction: column;
    width: fit-content;
    height: 100vh;
}

.icon {
    margin: 20px;
    flex: 0 0;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: 0;
    align-items: center;
    cursor: pointer;
}

.icon figcaption {
  border: 1px;
  padding: 5px;
  border-color: transparent;
}

.icon:active img{
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: inset 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
    border-radius: 15px;
}

.icon:active figcaption {
    /* Lowering the shadow */
    border: 1px;
    border-style: dashed;
    border-color: gray;
}

.img-icon {
  padding-left: 10px;
}
