
html, body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

html * {
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

#desktop {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url("../img/index1.png");
    background-repeat: both;
    background-size: 30%;
    justify-content: left;
    align-items: left;
}

.icon {
    border-radius: 5px;
    margin: 10px;
    padding: 0px;
    height: 108px;
    width: 108px;
    flex: 0 0;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: 0;
    align-items: center;
    cursor: pointer;
}


a {
    font-size: medium;
    text-decoration: none;
}



.icon:active {
    transition: all .05s ease-in-out; /* animate on click */
    transform: scale(0.96);
}

.icon:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

/* ------------------ MOBILE ------------------ */

@media only screen and (max-width: 768px) {
    nav {
        background: rgba(255, 255, 255, 0.2);
        box-shadow: inset rgb(150, 150, 150) 0 3px 4px;
        display: flex;
        flex: 0 0;
        flex-direction: row;
        justify-content:space-evenly;
        width: 100%;
        height: fit-content;
        position: fixed;
        bottom: 0px;
    }

    .img-icon {
        height: 80%;
    }

    .icon-caption {
        font-size: medium;
        font-weight: normal;
        border: 1px;
        padding: 0px;
        border-color: transparent;
        color: #FFCF97;
        margin-bottom: 5%;
    }
        
}

/* ------------------ DESKTOP ------------------ */

@media only screen and (min-width: 768px) {
    nav {
        display: flex;
        flex: 0 0;
        flex-direction: column;
        width: fit-content;
        height: 100vh;
    }

    .img-icon {
        height: 60%;
    }

    .icon-caption {
        font-size: medium;
        font-weight: normal;
        border: 1px;
        padding: 5px;
        border-color: transparent;
        color: #FFCF97;
    }
        
}

