#win-portfolio {
    height: 90%;
    width: 100%;
}

.portfolio-content{
    margin: 1em;
    justify-content: center;
    align-items: center;
}

.portfolio-item {
    box-shadow: 3px 8px 0px 3px rgba(0,0,0,0.1), 0px 6px #FF7868;
    background-color: rgb(237, 238, 227);
    color: black;
    padding:0;
    margin-right: 2px;
    margin-bottom: 5px;
    width: 100%;
    display: grid;
    grid-template-rows: 3;
}

.portfolio-item:hover {
    background-color: #FFCF97;
}

.portfolio-item:active {
    animation:  moveButton 0.1s ease-in-out 0s 1 forwards,
            moveButtonShadow 0.1s ease-in-out 0s 1 forwards;
}

.portfolio-item img {
    height: 100px;
    grid-column: 1;
    grid-row: 1 / span 3;
}

.portfolio-item h4 {
    grid-column: 2 / span 6;
    grid-row: 2;
}

.portfolio-item p {
    grid-column: 2 / span 6;
    grid-row: 3;
}

/* animations */

@keyframes moveButton {
    100% { 
        transform: translate(0px, 3px)
    } 
}

@keyframes moveButtonShadow {
    100% { 
        box-shadow: 0px 0px #FF7868;
    } 
}