
h4, p {
  margin: 0;
  padding:0;
}

#win-contact {
    display: none;
    position: absolute;
    top: 20%;
    left: 30%;
}

#win-portfolio {
    display:none;
    position: absolute;
    top: 25%;
    left: 35%;
}

#win-welcome {
    display:flex;
    position: absolute;
    top: 30%;
    left: 30%;
}


.window-container {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    border: 4px solid lightgray;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    z-index: 10;

}

.window-header {
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: gray;
    cursor: move;
    display: flex;
    flex-flow: row 0;
    justify-content: left;
    width: 98%;
    padding:1%;
    position:relative;
}

.window-body > * {
  margin: 5px;
}

.window-body {
  padding: 5px;
  border-top: 4px solid lightgray;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: inset 0px 2px 3px 2px rgba(0, 0, 0, 0.24);
  height: 80%;
  justify-content: center;
  align-items: center;
}

.btn-win-close {
    margin-right: 5px;
    margin-left: auto;
    z-index:2;
    cursor: pointer;
}

.btn-dialog {
  cursor: pointer;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  min-width: 10%;
  margin-left: auto;
}

.selected-window {
    z-index: 100;
}

.background-window {
    background-color: SlateGray;
    opacity: 0.9;
    -moz-opacity: 20%;
    -webkit-opacity: 20%;
    z-index: 2;
}
